<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/adminPage.css}" />
</head>

<body>
<div class="container">
    <div class="sideBar">
        <a style="color: black" th:href="@{/home}">Về trang chủ</a>
        <div class="sideBar__avatar">
            <img th:src="${admin.getAvatarUrl()}" alt="avatar" />
            <div>
                <h2 th:text="${admin.getUsername()}">Nguyen Van A</h2>
                <small>Admin</small>
            </div>
        </div>
        <ul class="sideBar__menu">
            <li>
                <a th:href="@{/home/admin/dashboard}" style="text-decoration: none; color: inherit;">
                    <div class="menu-item" id="dashboardMenu">
                        <div class="menu-item-content">
                            <i class="fa-solid fa-chart-line"></i>
                            <p>Dashboard</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a th:href="@{/home/admin/post-manage/PENDING}" style="text-decoration: none; color: inherit;">
                    <div class="menu-item" id="postMenu">
                        <div class="menu-item-content">
                            <i class="fa-solid fa-border-all"></i>
                            <p>Quản lý đăng bài</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a th:href="@{/home/admin/transaction-manage}" style="text-decoration: none; color: inherit;">
                    <div class="menu-item" id="transactionMenu">
                        <div class="menu-item-content">
                            <i class="fa-solid fa-file-invoice"></i>
                            <p>Quản lý giao dịch</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a th:href="@{/home/admin/member-manage}" style="text-decoration: none; color: inherit;">
                    <div class="menu-item" id="userMenu">
                        <div class="menu-item-content">
                            <i class="fa-solid fa-user-group"></i>
                            <p>Quản lý người dùng</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a th:href="@{/home/admin/comment-review-manage}" style="text-decoration: none; color: inherit;">
                    <div class="menu-item" id="commentMenu">
                        <div class="menu-item-content">
                            <i class="fa-solid fa-comments"></i>
                            <p>Quản lý bình luận</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a th:href="@{/home/admin/fee-manage}" style="text-decoration: none; color: inherit;">
                    <div class="menu-item" id="feeMenu">
                        <div class="menu-item-content">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <p>Cấu hình phí & Hoa hồng</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<script th:src="@{/js/adminPage.js}"></script>

</body>

</html>