<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/adminPage.css}" />
</head>

<body>
<div class="container">
    <div class="sideBar">
        <a style="color: black" th:href="@{/home}">Về trang chủ</a>
        <div class="sideBar__avatar">
            <img th:src="${admin.getAvatarUrl()}" alt="avatar" />
            <div>
                <h2 th:text="${admin.getUsername()}">Nguyen Van A</h2>
                <small>Admin</small>
            </div>
        </div>
        <ul class="sideBar__menu">
            <li>
                <div class="menu-item">
                    <div class="menu-item-content">
                        <a style="text-decoration: none" th:href="@{/home/admin/dashboard}">
                            <i class="fa-solid fa-gauge-high"></i>
                            <span>Dashboard</span>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="menu-item" id="permissionMenu">
                    <div class="menu-item-content">
                        <i class="fa-solid fa-table-cells"></i>
                        <p>Quyền & Phạm vi</p>
                    </div>
                    <i class="fa-solid fa-chevron-down dropdown-arrow"></i>
                </div>
                <ul class="submenu" id="submenu">
                    <li class="submenu-item" data-submenu="post">
                        <i class="fa-solid fa-border-all"></i>
                        <span>Quản lí đăng bài</span>
                    </li>
                    <li class="submenu-item" data-submenu="transaction">
                        <i class="fa-solid fa-file-invoice"></i>
                        <span>Quản lí giao dịch</span>
                    </li>
                    <li class="submenu-item" data-submenu="user">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Quản lí người dùng</span>
                    </li>
                    <li class="submenu-item" data-submenu="comment">
                        <i class="fa-solid fa-comments"></i>
                        <span>Quản lí bình luận</span>
                    </li>
                    <li class="submenu-item" data-submenu="fee">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <span>Cấu hình phí Hoa hồng</span>
                    </li>
                </ul>
            </li>
            <li class="menu-divider">
                <div class="menu-item">
                    <div class="menu-item-content">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p>Điều khoản</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="menu-item">
                    <div class="menu-item-content">
                        <i class="fa-solid fa-gear"></i>
                        <p>Cài đặt</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- <script>

</script> -->

<script th:src="@{/js/adminPage.js}"></script>

</body>

</html>