<!-- feeManage.html -->
<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cấu hình phí & Hoa hồng</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/adminPage.css}" />
</head>


<body>
<div class="container">
    <!-- Sidebar inclusion -->
    <section th:include="adminPage"></section>

    <!-- Main content -->
    <div class="main-content" id="mainContent">
        <!-- Notification Area -->
        <div class="notification" id="notification"></div>

        <!-- Cấu hình phí & Hoa hồng Content -->
        <div class="content-section active" data-section="fee">
            <div class="section-title">
                <i class="fa-solid fa-dollar-sign"></i>
                <h2>Cấu hình phí & Hoa hồng</h2>
            </div>
            <div class="fee-config-container">
                <div class="fee-card" th:each="commissionSetup : ${commissionSetups}">
                    <h3>Phí giao dịch</h3>
                    <p>
                        <strong>ID:</strong>
                        <span th:text="${commissionSetup.getId()}"></span>
                    </p>
                    <p th:if="${commissionSetup.getStatus().equals('DEFAULT')}" th:text="'Mặc định'"></p>
                    <p th:if="${!commissionSetup.getStatus().equals('DEFAULT')}"
                       th:text="${commissionSetup.getStatus().equals('ACTIVE') ? 'Hoạt động': 'Tạm ngưng hoạt động'}"></p>
                    <p>
                        <strong>Loại sản phẩm:</strong>
                        <span th:text="${commissionSetup.getProductType()}"></span>
                    </p>
                    <p>
                        <span th:text="'Gía sản phẩm từ : '+ ${#numbers.formatDecimal(commissionSetup.getMinimum(), 0, 'COMMA', 0, 'POINT')} +' VNĐ'"></span>
                        <span th:text="' đến: '+ ${#numbers.formatDecimal(commissionSetup.getMaximum(), 0, 'COMMA', 0, 'POINT')} +' VNĐ'"></span>
                    </p>
                    <p>
                        <strong>Phí hoa hồng:</strong>
                        <span th:text="${commissionSetup.getCommissionRate()} + ' %'"></span>
                    </p>
                    <p th:text="'Ngày tạo: ' + ${#temporals.format(commissionSetup.getCreatedAt(),'dd/MM/yyyy - HH:mm')}"></p>
                    <p th:text="'Cập nhật lần cuối: '+ ${#temporals.format(commissionSetup.getUpdatedAt(),'dd/MM/yyyy - HH:mm')}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/commonComponents/adminPage.js}"></script>


</body>

</html>