<!DOCTYPE html>
<html lang="en">
<html lang="vi" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member Order Management Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/memberOrder.css}" />
</head>

<body>
<header th:include="/commonComponents/header.html"></header>
<div class="container">
    <div class="main-content">
        <div class="order-management">
            <div class="content-toolbar">
                <div class="filter-tabs main-tabs">
                    <button class="tab-btn active" data-main-tab="purchase">Đơn mua</button>
                    <button class="tab-btn" data-main-tab="sales">Đơn bán</button>
                </div>
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Tìm kiếm...">
                </div>
            </div>

            <!-- Purchase Orders Tab Content -->
            <div class="main-tab-content active" id="purchaseTab">
                <div class="content-header">
                    <select class="tab-select">
                        <option value="REQUESTED">Đợi chấp thuận</option>
                        <option value="ACCEPTED">Giao dịch đã được chấp nhận</option>
                        <option value="CANCELLED">Giao dịch đã bị hủy</option>
                    </select>
                    <div class="result-info">Tổng 10 đơn hàng</div>
                </div>
                <div class="sub-tab-content active">
                    <div class="order-management__list">
<!--                        th:href="'/home/order/detail/'+${transaction.getTransactionId()}"-->
                        <a th:each="transaction : ${transactions}" href="/home/order/" th:attr="data-transaction-id=${transaction.getTransactionId()}" class="order-management__card">
                            <img class="order-management__card-image" th:src="${transaction.getImageUrl()}" alt="Product Image">
                            <div class="order-management__card-content">
                                <div class="order-management__card-status order-management__card-status--pending" th:if="${transaction.getStatus().equals('REQUESTED')}">Đợi chấp thuận</div>
                                <div class="order-management__card-status order-management__card-status--pending" th:if="${transaction.getStatus().equals('ACCEPTED')}">Giao dịch đã được chấp nhận</div>
                                <div class="order-management__card-status order-management__card-status--pending" th:if="${transaction.getStatus().equals('PAID')}">Người mua đã thanh toán</div>
                                <div class="order-management__card-status order-management__card-status--pending" th:if="${transaction.getStatus().equals('DELIVERED')}">Người bán đã giao sản phẩm</div>
                                <div class="order-management__card-status order-management__card-status--pending" th:if="${transaction.getStatus().equals('CANCELLED')}">Giao dịch đã bị hủy</div>
                                <div class="order-management__card-id" th:text="${transaction.getTransactionId()}">#PO001</div>
                                <div class="order-management__card-title" th:text="${transaction.getPostTitle()}">Xe máy điện Vinfast Feliz</div>
                                <div class="order-management__card-info" th:if="${seller == false}">
                                    <span class="order-management__card-info-label">Người bán:</span>
                                    <span class="order-management__card-info-value"
                                          th:text="${transaction.getSeller().getUsername()}+', '
                                          +${transaction.getSeller().getCity()}">Nguyen Van B, Ho Chi Minh, <i class="fa-solid fa-star"></i>4.8</span>
                                </div>
                                <div class="order-management__card-info" th:if="${seller == true}">
                                    <span class="order-management__card-info-label">Người mua:</span>
                                    <span class="order-management__card-info-value"
                                          th:text="${transaction.getBuyer().getUsername()}+', '
                                          +${transaction.getBuyer().getCity()}">Nguyen Van B, Ho Chi Minh, <i class="fa-solid fa-star"></i>4.8</span>
                                </div>
                                <div class="order-management__card-total" th:text="${transaction.getFormattedPrice()+'VNĐ'}">Tổng: 25,000,000 VNĐ</div>
                            </div>
                        </a>
                        <h3 th:if="${noTransactions == true}">Chưa thực hiện giao dịch nào</h3>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>


<footer th:include="/commonComponents/footer.html"></footer>
    <script th:src="@{/js/memberOrder.js}"></script>
</body>

</html>