<!-- postManage.html -->
<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lí đăng bài</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/adminPage.css}" />
</head>
<body>
<div class="container">
    <section th:include="adminPage"></section>
    <!-- Sidebar inclusion -->

    <!-- Main content -->
    <div class="main-content" id="mainContent">
        <!-- Notification Area -->
        <div class="notification" id="notification"></div>

        <!-- Quản lí đăng bài Content -->
        <div class="content-section active" data-section="post">
            <div class="content-header">
                <div class="filter-tabs">
<!--                    <span class="badge" th:text="${totalPosts}"></span>-->
                    <button class="tab-btn active">Đợi duyệt </button>
                    <button class="tab-btn">Đã duyệt</button>
                    <button class="tab-btn">Từ chối</button>
                    <button class="tab-btn">Đã bán</button>
                </div>
<!--                <div class="result-info">Hiện 1 - 8 trên 100 kết quả</div>-->
            </div>

            <div class="content-toolbar">
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Tìm kiếm...">
                </div>
                <div class="toolbar-actions">
                    <div class="view-toggle">
                        <button class="view-btn"><i class="fa-solid fa-list"></i></button>
                        <button class="view-btn active"><i class="fa-solid fa-grip"></i></button>
                    </div>
                    <button class="filter-btn">
                        <i class="fa-solid fa-filter"></i> Lọc
                    </button>
                </div>
            </div>

            <div class="data-table">
                <table>
                    <thead>
                    <tr>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th>Loại sản phẩm</th>
                        <th>Xem chi tiết</th>
                        <th>Mô tả</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}" >
                        <td th:text="${post.getSeller().getUsername()}">Nguyen Tien Linh</td>
                        <td th:text="${post.getSeller().getEmail()}"></td>
                        <td th:text="${post.getProduct().getProductType()}">XE ĐIỆN</td>
                        <td><a th:href="'/home/admin/post-manage/detail'+'?postId='+${post.getPostsId()}" class="link-text detail-link" >Chi tiết</a></td>
                        <td style="width: 25vw;" th:text="${post.getDescription()}">Xe đẹp, mới 99%</td>
                        <td>
                            <button th:if="${post.getStatus().equals('PENDING')}" class="action-btn approve" th:attr="data-post-id=${post.getPostsId()}">Duyệt</button>
                            <button th:if="${post.getStatus().equals('PENDING')}" class="action-btn reject" th:attr="data-post-id=${post.getPostsId()}">Từ chối</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

<!--            <div class="pagination">-->
<!--                <button class="page-btn active">1</button>-->
<!--                <button class="page-btn">2</button>-->
<!--                <button class="page-btn">3</button>-->
<!--                <button class="page-btn">4</button>-->
<!--                <button class="page-btn">5</button>-->
<!--            </div>-->
        </div>
    </div>
</div>

<!-- Post Detail Modal -->
<div th:if="${postDetail != null}" id="postDetailModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Chi tiết đăng bài</h2>
        <div class="modal-body">
            <div class="images">
                <img th:each="image : ${postDetail.getImages()}" id="vehicleImage" th:src="${image}" alt="Vehicle Image">
            </div>
            <div class="details-container">
                <div th:if="${postDetail.getProduct().getProductType().equals('VEHICLE')}" class="vehicle-details">
                    <h3>Thông tin xe</h3>
                    <p><strong>ID:</strong>
                        <span id="vehicleID"
                              th:text="${postDetail.getPostsId()}"></span></p>
                    <p><strong>Tên:</strong>
                        <span id="vehicleName"
                              th:text="${postDetail.getProduct().getVehicle().getName()}"></span></p>
                    <p><strong>Thương hiệu:</strong>
                        <span id="vehicleBrand"
                              th:text="${postDetail.getProduct().getVehicle().getBrand()}"></span></p>
                    <p><strong>Model:</strong>
                        <span id="vehicleModel"
                              th:text="${postDetail.getProduct().getVehicle().getModel()}"></span></p>
                    <p><strong>Năm đăng ký:</strong>
                        <span id="vehicleRegisterYear"
                              th:text="${postDetail.getProduct().getVehicle().getRegistrationYear()}"></span></p>
                    <p><strong>Số km đã chạy:</strong>
                        <span id="vehicleMileage"
                              th:text="${postDetail.getProduct().getVehicle().getMileage()}"></span> km</p>
                    <p><strong>Tình trạng:</strong>
                        <span id="vehicleCondition"
                              th:text="${postDetail.getProduct().getVehicle().getCondition()}"></span></p>
                    <p><strong>Dung lượng pin:</strong>
                        <span id="vehicleBatteryCapacity"
                              th:text="${postDetail.getProduct().getVehicle().getBatteryCapacity()}"></span></p>
                    <p><strong>Xuất xứ:</strong>
                        <span id="vehicleOrigin"
                              th:text="${postDetail.getProduct().getVehicle().getOrigin()}"></span></p>
                    <p><strong>Giá:</strong>
                        <span id="vehiclePrice" th:text="${postDetail.getPrice()}"></span> VNĐ</p>
                    <p><strong>Mô tả:</strong>
                        <span id="vehicleDescription" th:text="${postDetail.getDescription()}"></span></p>
                </div>
                <div th:if="${postDetail.getProduct().getProductType().equals('BATTERY')}" class="vehicle-details">
                    <h3>Thông tin xe</h3>
                    <p><strong>ID:</strong>
                        <span id="batteryID"
                              th:text="${postDetail.getPostsId()}"></span></p>
                    <p><strong>Tên:</strong>
                        <span id="batteryName"
                              th:text="${postDetail.getProduct().getBattery().getName()}"></span></p>
                    <p><strong>Thương hiệu:</strong>
                        <span id="batteryBrand"
                              th:text="${postDetail.getProduct().getBattery().getBrand()}"></span></p>
                    <p><strong>Xuất xứ:</strong>
                        <span id="batteryOrigin"
                              th:text="${postDetail.getProduct().getBattery().getOrigin()}"></span></p>
                    <p><strong>Năm đăng ký:</strong>
                        <span id="batteryRegisterYear"
                              th:text="${postDetail.getProduct().getBattery().getYearOfManufacture()}"></span></p>
                    <p><strong>Dung lượng:</strong>
                        <span id="batteryCapacity"
                              th:text="${postDetail.getProduct().getBattery().getCapacity()}"></span> ah</p>
                    <p><strong>Tình trạng:</strong>
                        <span id="batteryCondition"
                              th:text="${postDetail.getProduct().getBattery().getCondition()}"></span></p>
                    <p><strong>Dung lượng pin:</strong>
                        <span id="batteryVoltage"
                              th:text="${postDetail.getProduct().getBattery().getVoltage()}"></span></p>
                    <p><strong>Giá:</strong>
                        <span id="batteryPrice" th:text="${postDetail.getPriceFormated()}"></span> VNĐ</p>
                    <p><strong>Mô tả:</strong>
                        <span id="batteryDescription" th:text="${postDetail.getDescription()}"></span></p>
                </div>
                <div class="seller-info">
                    <h3>Thông tin người bán</h3>
                    <p><strong>Họ và tên:</strong>
                        <span id="sellerName" th:text="${postDetail.getSeller().getUsername()}"></span></p>
                    <p><strong>Email:</strong>
                        <span id="sellerEmail" th:text="${postDetail.getSeller().getEmail()}" ></span></p>
                    <p><strong>Số điện thoại:</strong>
                        <span id="sellerPhone" th:text="${postDetail.getSeller().getPhone()}"></span></p>
                    <p><strong>Địa chỉ:</strong>
                        <span id="sellerAddress" th:text="${postDetail.getSeller().getAddress()} +' '+
                        ${postDetail.getSeller().getCity()}"></span></p>
                </div>
            </div>
        </div>
        <div class="modal-actions">
            <button class="action-btn approve" id="modalApprove" th:attr="data-post-id=${postDetail.getPostsId()}">Duyệt</button>
            <button class="action-btn reject" id="modalReject"  th:attr="data-post-id=${postDetail.getPostsId()}">Từ chối</button>
        </div>
    </div>
</div>

<script th:src="@{/js/postManage.js}"></script>

</body>

</html>